# Database connection (SQLite)
DATABASE_URL="file:./dev.db"

# Public Store Configuration
NEXT_PUBLIC_WHATSAPP_NUMBER="6289501485483"
NEXT_PUBLIC_STORE_NAME="Penelove Pricelist"
NODE_ENV="development"
